body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*
body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/082/622/original/poker-background-with-playing-cards-and-chips-on-green-casino-background-modern-poker-widescreen-wallpaper-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

body {
    background-color: #00703c;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#dealer {
    width: 50%;
}

#user {
    width: 50%;
}

.card {
    width: 150px; /* Set the width of your SVG cards as needed */
    height: auto; /* Allow the height to adjust proportionally */
}

#button-panel {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px; /* Adjust the margin as needed */
}

.action-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.action-btn:hover {
    background-color: #0056b3;
}

#success {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
    padding: 10px;
}

@media screen and (max-width: 768px) {
    /* Styles for mobile devices */
    #card-container {
        flex-direction: row; /* Change the flex-direction to create a 2x2 grid */
        flex-wrap: wrap; /* Allow items to wrap to the next row */
    }

    #dealer, #user {
        width: 100%; /* Make each dealer/user take up the full width */
        text-align: center; /* Center the cards within their containers */
    }

    #button-panel {
        flex-direction: column; /* Arrange buttons vertically for easier tapping */
    }
}